<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="edu.oregonstate.cs589.comparator.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="edu.oregonstate.cs589.comparator.Perspective"
            id="edu.oregonstate.CS589.comparator.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="edu.oregonstate.cs589.comparator.CommitView"
            id="edu.oregonstate.CS589.comparator.commitView"
            name="Commit View"
            restorable="true">
      </view>
      <view
            class="edu.oregonstate.cs589.comparator.ViewPart1"
            id="edu.oregonstate.CS589.comparator.infoView"
            name="Info View"
            restorable="true">
      </view>
   </extension>

</plugin>
